<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384147209607-lr2lgr09n9lim2p606ksgvmj9ntvkvaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384147209607-lr2lgr09n9lim2p606ksgvmj9ntvkvaq</string>
	<key>API_KEY</key>
	<string>AIzaSyCgpx-Ok7EtifyfSRKRzlY8Bvq7ft-bGa0</string>
	<key>GCM_SENDER_ID</key>
	<string>384147209607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.peraOn</string>
	<key>PROJECT_ID</key>
	<string>lightapp-e11f3</string>
	<key>STORAGE_BUCKET</key>
	<string>lightapp-e11f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384147209607:ios:77b81cc74271e6b2a7e722</string>
</dict>
</plist>